.scroll-to-top-button{
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    color: gray;
    
}
.scroll-to-top-button:hover{
    scale: 1.1;
    color: black;
    border: 2px solid black;

}