

.list-sp{
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 50px;
    z-index: 1;
}
.list-sp.no{
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 0px;
}
::-webkit-scrollbar{
    
    width: 0px;
    height: 0;
    background-color: rgba(128, 128, 128, 0.463);
  }
  ::-webkit-scrollbar-thumb{
  
    background-color: gray;
  
  }
.list-sp__sun{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    margin-left: 3%;
    .sun-img{
        width: 100%;
        height: 40vh;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .sun-name{
        font-size: x-large;
        font-weight: 550;
        text-align: center;
    }
    .sun-price{
        font-weight: 550;
        font-size: large;
        color: red;
        margin: 10px 0;
    }
    .btn-sp{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 10px;
        cursor: pointer;
        .btn-detail{
            padding: 10px 15px;
            background-color: green;
            border-radius: 5px;
            color: white;

        }
        .btn-add{
            padding: 10px 15px;
            background-color: rgb(235, 66, 36);
            border-radius: 5px;
            color: white;
        }
    }
}

.baonha{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


@keyframes ldio-gcx0fsyeir9 {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-gcx0fsyeir9 div { box-sizing: border-box!important }
.ldio-gcx0fsyeir9 > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #f9ae5c transparent #f9ae5c transparent;
  animation: ldio-gcx0fsyeir9 1s linear infinite;
}
.ldio-gcx0fsyeir9 > div:nth-child(2) { border-color: transparent }
.ldio-gcx0fsyeir9 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-gcx0fsyeir9 > div:nth-child(2) div:before, .ldio-gcx0fsyeir9 > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #f9ae5c;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #f9ae5c;
}
.ldio-gcx0fsyeir9 > div:nth-child(2) div:after { 
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #f9ae5c;
}
.loadingio-spinner-dual-ring-jkhbsdgkl3m {
  width: 78px;
  height: 78px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-gcx0fsyeir9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gcx0fsyeir9 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
