*{
    font-family: 'Sitka Display,Montserrat,Helvetica,texheros,Arial,sans-serif';
}

.list-sp{
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
::-webkit-scrollbar{
    
    width: 0px;
    height: 0;
    background-color: rgba(128, 128, 128, 0.463);
  }
  ::-webkit-scrollbar-thumb{
  
    background-color: gray;
  
  }
.list-sp__sun{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    margin-left: 3%;
    .sun-img{
        width: 100%;
        height: 40vh;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .sun-name{
        font-size: x-large;
        font-weight: 550;
        text-align: center;
    }
    .sun-price{
        font-weight: 550;
        font-size: large;
        color: red;
        margin: 10px 0;
    }
    .btn-sp{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        cursor: pointer;
        .btn-detail{
            padding: 10px 15px;
            background-color: green;
            border-radius: 5px;
            color: white;

        }
        .btn-add{
            padding: 10px 15px;
            background-color: rgb(235, 66, 36);
            border-radius: 5px;
            color: white;
        }
    }
}