.tbl-dn{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 35%;
    border: 2px solid rgba(128, 128, 128, 0.461);
    padding: 20px 20px;
    margin-top: 50px;
    padding-top: 30px;
    span{
        visibility: hidden;
    }
    .text-or{
        text-align: center;
        margin: 10px 0;
    }
    input{
        height: 5vh;
        outline: none;
        padding-left: 15px ;
        font-size:medium ;
        margin: 2px 0;
    }
    .btn-dk{
        width: 100%;
        background-color: orange;
        color: white;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 550;
        font-size: medium;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
}