* {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}
.header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white !important;
  box-shadow: -1px -1px 8px 0px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  #fa-bars{
    display: none;
    margin-left: 19px;
  }
  .chungbed1 {
    display: flex;
    height: 100%;
    align-items: center;

    .header__logo {
      width: 20%;
      min-width: 230px;
      height: 100%;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .list-theloai {
      display: flex;
      height: 100%;
      align-items: center;
      .list-theloai__sun {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 2px);
        margin-left: 20px;
        cursor: pointer;
        font-size: medium;
        font-weight: 550;
        opacity: 0.8;
        transition: all 0.2s linear;
        border-bottom: 3px solid transparent;
      }
      .list-theloai__sun:hover {
      }
      .list-theloai__sun.one.kids {
        opacity: 1;
        border-bottom: 3px solid #f6891e;
      }
      .list-theloai__sun.two.kids {
        opacity: 1;
        border-bottom: 3px solid #234d84;
      }
      .list-theloai__sun.three.kids {
        opacity: 1;
        border-bottom: 3px solid #36bfbc;
      }
      .list-theloai__sun.four.kids {
        opacity: 1;
        border-bottom: 3px solid #df393a;
      }
      .list-theloai__sun.one:hover {
        opacity: 1;
        border-bottom: 3px solid #f6891e;
      }
      .list-theloai__sun.two:hover {
        opacity: 1;
        border-bottom: 3px solid #234d84;
      }
      .list-theloai__sun.three:hover {
        opacity: 1;
        border-bottom: 3px solid #36bfbc;
      }
      .list-theloai__sun.four:hover {
        opacity: 1;
        border-bottom: 3px solid #df393a;
      }
    }
  }
}

.chungbed {
  display: flex;
  align-items: center;
}

.search div.expanded {
  width: calc(100vw - 230px - 116px - 480px);
}

.search {
  margin-right: 10px;
  display: flex;
  justify-content: end;
  position: relative;
  .div123 {
    display: flex;
    justify-content: end;
    position: absolute;
    width: 40px;
    height: 37px;
    top: -18px;
    transition: width 0.3s ease-in-out;
    i {
      position: absolute;
      top: 2px;
      right: 0px;
      font-size: 18px;
      color: gray;
      padding: 10px;
    }

  }
  input {
    transition: width 0.3s ease-in-out;
    width: 100%;
    outline: none;
    height: 100%;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid lightgray;
  }

}
.authen {
  .sign-in {
    padding: 10px 15px;
    border-radius: 5px;
    width: 70px;
    background-color: rgb(235, 66, 36);
    color: white;
    font-size: medium;
    text-align: center;
    cursor: pointer;
    min-width: max-content;
    margin-left: 15px;
    position: relative;
    .bang {
      z-index: 10;
      border-radius: 5px;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50px;
      left: 0px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
      .sign-in {
        padding: 10px 15px;
        border-radius: 0px;
        width: 100%;
        background-color: rgb(235, 66, 36);
        color: white;
        font-size: medium;
        text-align: center;
        cursor: pointer;
        margin-left: 0px;
        position: relative;
        margin-left: -15px;
        border: 1px solid white;
      }
    }
  }
  .sign-up {
    padding: 10px 15px;
    border-radius: 5px;
    width: 80px;
    background-color: rgb(235, 66, 36);
    color: white;
    font-size: medium;
    text-align: center;
    min-width: 80px;
    margin-left: 10px;
    cursor: pointer;
  }
  
}
/* tablet */

@media only screen and (max-width: 63.9375em) {
  .header {
    box-sizing: border-box;
    position: relative;
    top: 0;
    z-index: 999;
    background-color: white !important;
    box-shadow: -1px -1px 8px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100%;
}
.header .chungbed1 .list-theloai .list-theloai__sun {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2px);
  margin-left: 12px;
  cursor: pointer;
  font-size: small;
  font-weight: 550;
  opacity: 0.8;
  transition: all 0.2s linear;
  border-bottom: 3px solid transparent;
}
.search div.expanded {
  width: calc(100vw - 230px - 116px);
}
}
/* mobile */
@media only screen and (max-width: 46.1875em) {
  .header {
    box-sizing: border-box;
    position: relative;
    top: 0;
    z-index: 999;
    background-color: white !important;
    box-shadow: -1px -1px 8px 0px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    width: 100%;
}
  .header .chungbed1 .header__logo {
    width: 217px;
    min-width: 217px;
    height: 50px;
    cursor: pointer;
}
.fa-bars{
  display: block !important;
  margin-left: 19px;
}
.search input {
  transition: width 0.3s ease-in-out;
  width: 100%;
  outline: none;
  height: 100%;
  padding-left: 15px;
  font-size: 15px;
  border-radius: 20px;
  border: 0px solid lightgray;
}
}
