
body{
    position: relative;

}
.mangboc1{
    .mangboc__inside{
        width: 80%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(219, 157, 42);
        .nenauthor{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            background-color: whitesmoke;
            .mangboc__sun.author{
                width: 50%;
            }
        }
        .mangboc__sun{
            .mangboc__author{
                color: black;
                background-color: whitesmoke;
            }
            cursor: pointer;
            width: 50%;
            display: flex;
            align-items: center;
            height: 60px;
            border-bottom: 1px solid white;
            padding: 5px 0 ;
            img{
                margin-left: 20px;
                width: 10%;
                height: 100%;
            }
            div{
                color: white;
                font-weight:600;
                font-size: large;
                margin-left: 20px;
            }
        }
    }
}
@media only screen and (max-width:46.1875em){
    .mangboc .mangboc__inside {
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(219, 157, 42);
    }
    .mangboc .mangboc__inside .mangboc__sun img {
        margin-left: 20px;
        width: 10%;
        height: 100%;
        min-width: 50px;
    }
}